<h1>Request leave</h1>

<form action="/request-leave" method="POST">
  <h3>Leave year from</h3>
  <label for="leave-day-from">Day</label>
  <input id="leave-day-from">
  <label for="leave-month-from">Month</label>
  <input id="leave-month-from">
  <label for="leave-year-from">Year</label>
  <input id="leave-year-from">
  <h3>Leave year to</h3>
  <label for="leave-day-to">Day</label>
  <input id="leave-day-to">
  <label for="leave-month-to">Month</label>
  <input id="leave-month-to">
  <label for="leave-year-to">Year</label>
  <input id="leave-year-to">
  <input type="submit" value="Submit leave request">
</form>
